.comment-container {
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;

    &__header {
        font-size: 1rem;
        font-weight: 500;
    }
    &__date {
        font-size: 0.7rem;
        font-weight: 300;
        margin-left: 1rem;
    }
}